@import "global.css" layer(global);

/* PODCAST PICKER RESULT PAGE */

/* Playlist hero section */

.picker-hero {
    display: grid;
    grid-template-areas:
        "heading playlist"
        "button playlist"
        "footer playlist";
    grid-template-columns: auto 24rem;
    justify-content: center;
    align-content: start;
    gap: 0 5rem;
    text-align: left;
}

.picker-hero-heading {
    grid-area: heading;
}

.picker-hero-heading h1 {
    margin-top: 1em;
}

.picker-hero-duration span:first-child {
    color: var(--clr-text-inverted-alt);
}

.picker-hero-duration span:first-child::before {
    margin-right: 0.25em;
    translate: 0 10%;
}

.picker-hero-duration-value {
    display: block;
    font-family: var(--font-heading);
    font-size: 3rem;
}

.picker-hero-button {
    grid-area: button;

    margin: 1rem 0;
}

.picker-hero-footer {
    grid-area: footer;
}

.picker-hero-footer {
    grid-area: footer;
    color: var(--clr-text-inverted-alt);
    text-wrap: balance;
}

.picker-hero-footer::after {
    margin-left: 0.25em;
    scale: 1.2 1;
    translate: 0 20%;
}

.picker-hero-items {
    grid-area: playlist;
    align-self: center;
}

.picker-hero-items .podcast-item {
    --podcast-bg-color: var(--clr-bg-alt);

    filter: drop-shadow(0.125rem 0.125rem 0.375rem var(--clr-bg-inverted-alt));
}

@media (max-width: 45rem) {
    .picker-hero {
        grid-template-areas:
            "heading"
            "button"
            "footer"
            "playlist";
        grid-template-columns: auto;
        justify-items: center;
        text-align: center;
    }

    .picker-hero-heading h1 {
        margin: 0.5em 0;
    }

    .picker-hero-footer {
        margin-bottom: 2em;
    }

    .picker-hero-items {
        margin-bottom: 2em;
    }
}

.picker-hero-items .podcast-add-btn, .picker-options-items .podcast-remove-btn {
    display: none;
}

/* Additional options section */

.picker-options-heading {
    text-align: center;
    margin-bottom: 2em;
}

.picker-options-heading h2 {
    margin-bottom: 0.5em;
}

.picker-options-heading p {
    margin-bottom: 0.25em;
    text-wrap: balance;
}
