{% extends "podpicker/layout.html" %}
{% load static %}

{% block css %}
    {% static 'podpicker/css/admin.css' %}
{% endblock %}

{% block title %}
    Error | PodPicker
{% endblock %}

{% block main %}
    <div class="error-wrapper">
        <h1>
            {% if error_heading %}
                {{ error_heading }}
            {% else %}
                Error
            {% endif %}
        </h1>
        <p>
            {% if error_body %}
                {{ error_body }}
            {% else %}
                Something has gone wrong. Please double-check your request.
            {% endif %}
        </p>
    </div>
{% endblock %}
